@import url(main.css);
/* Background */
.wall {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #e7eaf2, #d4d0c7);
    margin: 0;
    padding: 0;
}

/* App Container */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

/* App */
.appicon {
    font-size: 128px;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 400px;
    height: 256px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 32px 50px 0 rgba(0,0,0,.3);
    cursor: pointer;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.appicon:hover {
    transform: scale(1.1);
}

.appname {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 16px;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 20px;
}

.coming-soon {
    font-size: 32px;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.logo:hover {
    transform: scale(1.2);
}
